<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_KARAOKE.Properties.Settings.QUANLYKARAKECSHARPConnectionString"
            connectionString="Data Source=LAPTOP-DQ9LSA83\SQLEXPRESS;Initial Catalog=QUANLYKARAKECSHARP;User ID=sa;Password=nhv"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>